#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.article-container{
  display: flex;
  text-align: left;
  

}
.list-container{
  display: flex;
  flex-direction: column;
}
.list-items{
  display: flex;
  flex-direction: row;
  gap: 10px;
}